@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
body {
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100vh;
  /*background: linear-gradient(136deg, #2e335a 0%, #1c1b33 100%);*/
  background: radial-gradient(
    73.19% 111.55% at 93.07% 74.31%,
    #2e1863 0%,
    #29305f 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
